<div class="row">
    <div class="col-md-8 offset-md-2">
        <a href="/todoitems/newitem" class="btn btn-success">New Item</a>
        <br />
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>Title</th>
                <th>Category Name</th>
                <th>Due Date</th>
                <th>Mark as Completed</th>
            </tr>


            <% for (let i=0; i < toDoItems.length; i++) { %>
                <tr class="<%=(toDoItems[i].IsOverdue ? ' table-danger': '' )%>">
                    <td>
                        <%= toDoItems[i].Title %>
                    </td>
                    <td>
                        <%= toDoItems[i].CategoryName %>
                    </td>
                    <td>
                        <%= toDoItems[i].DueDate %>
                    </td>
                    <td>

                        <!-- <a href="/todoitems/markascompleted?categoryId=<%=toDoItems[i].Id%>"
                            class="btn btn-primary btn-block"
                            type="post">
                            Mark as completed
                        </a> -->
                        <form method="post" action="/todoitems/markascompleted">
                            <input type="hidden" name="categoryId" value=<%=toDoItems[i].Id%>/>
                            <button class="btn btn-primary btn-block">Mark as completed</button>
                        </form>
                </tr>

                <%}%>
        </table>
    </div>
</div>